a {
  outline:none;
}

table {
  width: 100%;
}

td {
  width: 50%;
  height: 35px;
}

tr + tr {
  border-top: 1px solid #ccc;
}

input {
  display: block;
}

body {
  background: #eee;
  color: #444;
}

button {
  padding: 4px 15px;
}

#top-bar-wrap {
  background: #222;
}

h1 {
  margin: 0px 0px 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(221, 221, 221);
  font-weight: 200;
  color: #464646;
}

h2 {
  margin: 0 0 20px;
  color: #464646; 
}

#top-bar {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 20px;
  color: #fff;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user > span {
  color: #ddd;
  display: inline-block;
  margin-right: 15px;
}

#avatar {
  background: #fff;
  color: #000;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
}

#main-nav-wrap {
  background: #fff;
}

#main-nav {
  width: 960px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#main-nav > a {
  text-decoration: none;
  margin: 0 30px 0 0;
  color: #444;
  height: 33px;
  padding: 0 3px;
}

#main-nav > .active {
  border-bottom: 3px solid #444;
  margin-bottom: -3px;
}

main {
  width: 960px;
  margin:30px auto 0;
}

.content-wrap {
  background: #fff;
  padding: 30px;
}

.content-wrap::after {
  content: "";
  display: block;
  clear:both;
}

.item {
  border: 1px solid #aaa;
  margin: 20px 0;
  padding: 10px;
}

.box {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3%;
  margin-bottom: 20px;
  width: 42%;
}

.box.review {
  float: right;
}

.box.attributes {
  float: left;
}

.box.reviews {
  float: right;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row > .name {
  width: 25%;
  text-align: right;
}

.form-row > .value {
  width: 70%;
}

.form-row > .submit {
  float: right;
}

.rating {
  color: #fff;
  padding: 2px 3px;
  border-radius: 2px;
}

.rating.positive {
  background: green;
}

.rating.mixed {
  color: #333;
  background: yellow;
}

.rating.negative {
  background: red;
}

.user-review {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}

.user-review > p {
  margin: 0 0 4px;
  display: block;
}